.accordion {
    width: 500px;
    margin: 20px auto;
}

.accordion-item .accordion-item {
    margin-left: 25px;
}

.accordion-item__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: darkcyan;
    font-size: 16px;
    padding: 5px;
    color: #fff;
    cursor: pointer;
}

.accordion-item__descr {
    padding: 7px;
}

.accordion-item__body {
    display: none;
}

.accordion-item--show > .accordion-item__body {
    display: block;
}
